@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

/* Add some styles for body*/
body {
	font-family: "Sora", sans-serif;
	background-color: #fafaf9;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	color: #6c727f;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	padding: 1rem;
	border-radius: 1rem;
	width: 50%;
}

.card img {
	width: 100%;
	border-radius: 1rem;
}

.card-pill {
	color: #883ae1;
	background-color: #e6d6fc;
	width: fit-content;
	padding: 0.38rem 1.5rem;
	border-radius: 1rem;
	align-self: flex-start;
	margin: 1.5rem 0;
}

.card-title {
	font: 1.125rem;
	color: #20293a;
	align-self: flex-start;
}

.card-text {
	padding: 1rem 0;
}

hr {
	width: 100%;
	height: 1px;
	background-color: rgb(213, 211, 211);
	border: none;
}

.card-person {
	align-self: flex-start;
	padding: 1rem 0 0.5rem 0;
}
